html, body {
    margin: 0;
    height: 300px;
    width: 1300px;
}

body {
    background-image: url("/images/sunset.jpg");
    background-size: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    margin-top: 20px;
    background-image: url("/images/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none !important;
    font-size: 1.3em;
}

.navbar-right {
    margin-right: 20px;
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}

.navbar-default .navbar-toggle {
    border-color: black;
}


#heading-content {
    margin-top: 100px;
    text-align: center;
}

hr {
    width: 45%;
}
/*s'opuvdfiobjd*/
.chat{
    align: right;
    width: 30%;
}
/* Popup container - can be anything you want */
#fixed-botttom{
    position:fixed;
    bottom:1%;
    left:10%;
    background-color:red;
    padding-left: 2px;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext{
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

iframe { position: fixed; left:0; right:0; bottom:0; top:0; border:0; }